body {
    background-color: #7CCF98;
    margin: 0;
    padding: 0;
    overflow: hidden;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#mainContainer {
    width: 100vw;
    height: 100vh;
    background-color: grey;
}

#field {
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#teamText {
    transform: rotate(90deg);
    font-size: 1vw;
}

#robot {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 4.6vw;
    height: 4.6vw;
    background-color: yellow;
    margin-top: 0;
    text-align: center;
    line-height: 4.6vw;
}