body {
    background-color: #7CCF98;
    margin: 0;
    padding: 0;
    overflow: hidden;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#mainContainer {
    width: 100vw;
    height: 100vh;
    background-color: grey;
}

#robot {
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translate(-50%, -50%);
    width: 10vw;
    height: 10vw;
    background-color: yellow;
}